{% extends "base.html" %}
{% block body_class %}analyze-bg{% endblock %}

{% block content %}
<section class="market-section">
    <div class="market-card">
        <p style="line-height: 1.7; opacity: 0.9; margin-bottom: 18px;">
            This website was made by FINKI students.
            <li>Nenad Stefanovski</li> 
            <li>Ivan Arsikj</li> 
            <li>Teona Todorovska </li>
            <br>
            If you want to do collaborations hit us on our emails:
            <li>stefanovskinenad4@gmail.com</li> 
            <li>ivan.arsikj@students.ukim.finki.mk</li> 
            <li>teona.todorovska@students.ukim.finki.mk</li>
    </p>
    </div>
</section>
{% endblock %}
